<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container travar">
      <div class="container-1 selector">
        <img src="img/Notebook.jpg" alt="" />
      </div>
      <div class="container-2 photos selector-2">
        <img src="img/Notebook.jpg" alt="" />
      </div>
    </div>

    <div>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi minima
        in ut, voluptas esse odio iure! Odio vel quam libero incidunt tenetur
        aliquam, ducimus doloremque soluta corrupti iste pariatur accusamus,
        quas totam natus eos praesentium. Laboriosam explicabo eius voluptatibus
        harum soluta perspiciatis cupiditate rerum labore, iure nulla ex
        delectus! Iusto, numquam vel. Modi explicabo inventore consectetur rerum
        laudantium delectus tenetur?
      </p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>

    <script>
      var controller = new ScrollMagic.Controller();

      var scene = new ScrollMagic.Scene({
        triggerElement: ".travar",
        triggerHook: "onLeave",
        duration: "60%",
      })
        .setPin(".travar")
        .addTo(controller)
        .on("progress", function (event) {
          var photosElement = document.querySelector(".photos");
          if (event.progress > 0.5) {
            photosElement.classList.add("ativoobb");
          } else {
            photosElement.classList.remove("ativoobb");
          }
        });
    </script>
  </body>
</html>
